
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main_container{
  width: 100%;
  height: 100vh;
}

.navbar_container{
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_wrapper{
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_wrapper a {
  text-decoration: none;
}

.navbar_wrapper h2{
  color: blue;
  padding: 5px;
  border-left: 2px dotted blue;
}

.nav_buttons_wrapper button{
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
}

#signup_btn{
  background-color: white;
  color: blue;
  border: 1px solid blue;
  box-shadow: 0px 0px 2px gray;
}

.landing_container{
  width: 90%;
  margin: 0px auto;
  height: 85vh;
  display: flex;
  justify-content: space-between;
}

.landing_content_wrapper, .landing_image_wrapper{
  width: 50%;
}


.landing_content_wrapper h1{
  margin-bottom: 20px;
}

.landing_image_wrapper img{
  width: 100%;
  height: 100%;
}

.landing_content_wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

#get_started_button{
  padding: 10px 30px;
  background-color: blue;
  color: white;
  box-shadow: 0px 0px 2px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
}


#get_started_button:hover {
  border: 1px solid blue;
  box-shadow: 0px 0px 5px black;
}

.sign_up_container, .login_container{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0px 0px 2px gray;
  border-radius: 8px;
  margin-bottom: 20px;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}

form div input, form div textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
}

form button{
  padding: 10px 30px;
  background-color: blue;
  color: white;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 2px gray;
}

.error_container{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: gray;
  margin: 0px auto;
  padding-top: 20px;
}

.error_container a{
  color: black;
}

.dashboard_container{
  width: 100%;
  height: 85vh;
}

.dashboard_wrapper{
  width: 90%;
  margin: 0px auto;
  height: 100%;
}